**/__pycache__/
.DS_Store
my_utils/
dev/
dist/
build/
scripts/
autogaita.egg-info/
venv/
**/.hypothesis/
.coverage
CLA.md
settings.json
group_dlcrun_forpaper.py
dlc_gui_config.json
universal3D_gui_config.json
group_gui_config.json
autogaita_backup/